@import url ('https://fonts.googleapis.com/css?family=Montserrat');

body {
  margin: 50px auto;
  max-width: 1000px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;
  font-size: 30px;
  color: white;
}

/*style>*/
body {
  background-image: url("/images/Indexbkgd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/*</style>*/

h1 {
  padding: 20px 0px 10px 0px;
  display: inline;
}

h2 {
  padding: 20px 0px 10px 0px;
}
