@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two');

body {
  margin: 50px auto;
  max-width: 1000px;
  font-family: 'Shadows Into Light Two', cursive;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;
  font-size: 40px;
  color: black;
}

/*style>*/
body {
  background-image: url("/images/Indexbkgd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/*</style>*/

h2 {
  padding: 20px 0px 10px 0px;
  display: inline;
}

h1 {
  padding: 20px 0px 10px 0px;
}

.header{
  color:black
}

.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.image {
  display: block;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  margin-left: auto;
  margin-right: auto;
}

.container:hover .overlay {
  opacity: 1;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #a3a3a3;
  text-decoration: none;
}

a:active {
  color: #a3a3a3;
  text-decoration: none;
}
}
